/* Browser reset via http://meyerweb.com/eric/tools/css/reset/ */
@import "includes/reset";

/* Grid */
$grid-container-prefix: 'grid';
$columns: 12;
$items: 6;
$breakpoint-map: ("md":768px,"lg":1024px, "xl": 1390px);

/* Spacing & utility generator */
$baseSpacing: 20px;
$spacingUnit: 'rem';
$spacingStep: .25;
$numSpacingUnits: 5;

$shorthand-map: ("t":"top","b":"bottom","r":"right","l":"left","x":(1:"left",2:"right"),"y":(1:"top",2:"bottom"));
$property-map: ("m":"margin","p":"padding");
$position-map:("relative","absolute","fixed");
$height-width-unit-map:("p":"%", "px":"px","rem":"rem");
$height-width-value-map:("25", "50", "75", "100");



/* Colors */
$primaryColor: #00796B;
$accentColor: #135fcf;
$successColor: #1f921f;
$warningColor: #b71c1c;
$gray: #6e6e6e;
$white: #ffffff;
$black: #101010;

$color-class-map:("bg":"background-color","text":"color","b":"border-color");


$color-map:(
        "primary":$primaryColor,
        "accent":$accentColor,
        "success":$successColor,
        "warning":$warningColor,
        "transparent":transparent,
        "gray": $gray,
        "white": $white,
        "black": $black
);

$opacity-map: ("50":.5,"75":.75,"85":.85,"90":.9,"95":.95);

/*
*  lighten/darken
*/

@each $name, $color in $color-map{
  $mergeIn:(
          #{$name}-light: lighten($color, 25%),
          #{$name}-lighter: lighten($color, 50%),
          #{$name}-dark: darken($color, 25%),
          #{$name}-darker: darken($color, 50%),
  );
  $color-map: map-merge($color-map, $mergeIn);
}
$state-map:("focus","hover","active");

/* Shading & borders */

$depth: 3;
$spread: 4px;

/* Icons */
/*@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(asset/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  !* Preferred icon size *!
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  !* Support for all WebKit browsers. *!
  -webkit-font-smoothing: antialiased;
  !* Support for Safari and Chrome. *!
  text-rendering: optimizeLegibility;

  !* Support for Firefox. *!
  -moz-osx-font-smoothing: grayscale;

  !* Support for IE. *!
  font-feature-settings: 'liga';
}*/
/* Typography */

body{
  font-family: Dejavu Sans, Arial, Verdana, sans-serif
}

p{
  line-height: 160%;
}

$fontSize-map:("sm":3, "default":4, "md":5, "lg":7, "xl":9, "xxl":12);
$decoration-map:("underline","none");
$weight-map:("light":200,"strong":700);

/* Cursor options */

$cursorOptions:("pointer","not-allowed");

@import "../../../node_modules/gaudiamus-css/scss/index";
@import "includes/modifiers";
@import "includes/animations";
@import "includes/compositions";